/* header section */
header{
    background: url(../img/environment/environment-header.jpg)center no-repeat;
    background-size: cover;
    height: 310px;
}
header h2{
    color: #fff;
    font-size: 50px;
    font-weight: lighter;
}
/* end of header section */
/* body_content section */
#body_content .content img{
    border: 4px solid #94c11f;
}
/* end of body_content section */
/* ////////////////////////////////// */
@media (max-width: 576px){
    /* header */
    header{
        height: 150px;
    }
    header h2{
        font-size: 30px;
    }
    /* end of header */
}